$raspberry: #e30b5d;
$darkRaspberry: #9e0059;
$purple: #7209b7;
$darkBlue: #3a0ca3;
$lightBlue: #4361ee;
$extraDarkBlue: #020851;
$yellow: #ecd444;
$black: #0d0106;
$white: #fbfef9;
$shelf: #faf8dd;
$shadows: #6f61a6;
