@import '../../sass/variables';

.button {
  width: 230px;
  font-family: 'Raleway', sans-serif;
  background: #100107;
  color: white;
  border: none;
  font-size: 24px;
  padding: $spacing * 2 $spacing * 3;
  cursor: pointer;
}

.secondary {
  background: #e9e9e9;
  color: black;
}
