.pmDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  @media (max-width: 600px) {
    padding: 5px;
  }

  .projectHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .projectState {
    padding-right: 40px;

    @media (max-width: 600px) {
      padding-right: 10px;
    }

    svg {
      height: 40px;
    }
  }

  tbody tr:nth-child(odd) {
    background-color: #e9e9e9;
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  td {
    text-align: center;
    padding: 4px 0;
  }

  .taskName {
    text-align: start;
    padding-left: 8px;
  }

  .taskState svg {
    height: 20px;
  }

  .module {
    &_taskRow {
      font-weight: bold;
      color: white;
      background-color: rgb(91, 90, 90) !important;
    }
  }

  .submodule {
    &_taskName {
      padding-left: 16px;
    }
  }
}

.pinContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .pinInputs {
    display: flex;
    gap: 10px;
    .pinInput {
      background: transparent;
      border: solid 3px black;
      border-radius: 12px;
      color: black;
      box-sizing: border-box;
      font-size: 4rem;
      height: 5.3rem;
      padding: 0;
      text-align: center;
      width: 4rem;
      @media (max-width: 500px) {
        font-size: 3rem;
        height: 4rem;
        width: 3rem;
      }
    }
  }
}

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 48px auto;
  flex-wrap: wrap;
  @media (min-width: 570px) {
    flex-wrap: nowrap;
  }
  &_iconWrapper {
    display: flex;
    align-items: center;
    gap: 16px;

    & svg {
      height: 30px;
    }
  }
}
