.graphics_mobile {
  min-height: 100%;
  min-width: 300px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  @media (max-width: 600px) {
    background-image: url('../../images/graphics/bar_mobile_nochairs.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
