@import '../../sass/colors';

.references_section {
  max-width: 1500px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0 0 24px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
  z-index: 2;
  background: transparent;

  & h1 {
    margin: 12px auto 0 auto;
    text-align: center;
    @media (min-width: 500px) {
      margin: 24px auto;
    }
  }
  @media (min-width: 1100px) {
    height: 100%;
  }
}

.references_chairs {
  position: relative;
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-width: 500px) {
    width: 350px;
    height: 350px;
  }
  @media (min-width: 1100px) {
    bottom: 0;
    width: 450px;
    height: 450px;
  }
}
.graphics {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}
.projectorScreen {
  margin: 24px auto 0 auto;
  width: 300px;
  height: 220px;
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 500px) {
    background-size: 100%;

    width: 450px;
    height: 320px;
  }
  @media (min-width: 768px) {
    width: 700px;
    height: 495px;
  }
  @media (min-width: 1100px) {
    width: 1100px;
    height: 705px;
  }
}

.BrainhubCarousel {
  justify-content: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;

  @media (min-width: 500px) {
    width: 80%;
    height: 100%;
  }
  &__container {
    @media (min-width: 500px) {
      height: 280px;
      overflow: visible;
    }
    @media (min-width: 768px) {
      height: 405px;
    }
    @media (min-width: 1100px) {
      height: 680px;
    }
  }
  &Item {
    @media (min-width: 500px) {
      height: 260px;
    }
    @media (min-width: 768px) {
      height: 400px;
    }
    @media (min-width: 1100px) {
      height: 630px;
    }
  }
}
