.homeSection {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url('../../images/graphics/bar_mobile.png');
  @media (min-width: 500px) {
    background-image: url('../../images/graphics/Tablet2.webp');
    height: 115vh;
  }
  @media (min-width: 1100px) {
    display: none;
  }
}
