.graphics_chairs_mobile {
  min-height: 690px;
  min-width: 100%;
  z-index: -2;
  background-image: url('../../images/graphics/bar_mobile.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: -100%;
}

.graphics_home {
  min-height: 100%;
  min-width: 350px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0 auto;
  @media (max-width: 350px) {
    left: 50%;
    margin-left: -175px;
  }
}
