.between_page {
  max-width: 1500px;
  margin: 0 auto;
  height: 100vh;
  background: linear-gradient(180deg, $purple 80%, $raspberry 80%);
  @media (min-width: 500px) {
    background: none;
  }
}

.between_bar {
  position: absolute;
  width: 130%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  right: 0;
  top: 50%;
  background-image: url('../../images/graphics/MobileBar.png');
  @media (min-width: 500px) {
    background-image: url('../../images/graphics/Tabetbar.png');
    height: 400px;
    width: 90px;
    top: 35%;
  }
  @media (min-width: 1100px) {
    display: none;
  }
}
