.initialDesktop {
  max-width: 1500px;
  margin: 0 auto;
  height: 100vh;

  .iDframe {
    width: 250px;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: -1;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}
