.initialDesktop {
  max-width: 1500px;
  margin: 0 auto;
  overflow: visible;

  .frame {
    width: 1800px;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: -1;

    img {
      width: 100%;
    }
  }
}
