.initialDesktop {
  max-width: 1500px;
  margin: 0 auto;
  overflow: visible;

  .iDframe {
    width: 850px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: -1;

    img {
      max-width: 1800px;

    }
  }
}
