@import '../../sass/_colors';


.header_div_mobile {
  display: flex;
  flex-direction: column;
  @media (min-width: 500px) {
    display: none;
  }
}

.logoMenu_div {
  height: 80%;
  position: relative;
}

.logo {
  width: 40%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 20px;
  right: 0px;
  top: 5px;
  cursor: pointer;
}
