@import '../../sass/variables';
.navItem {
  border-bottom: 1px solid #dae4eb;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  margin-left: auto;
  position: relative;
  @media (min-width: 700px) {
    max-width: none;
    border-bottom: none;
    padding: 0 $spacing * 3 $spacing $spacing * 3;
  }
  &:hover {
    font-size: 1.2rem;
    &::after {
      content: '';
      position: absolute;
      background: url('../../images/vykroj2.png');
      background-repeat: space;
      background-size: contain;
      bottom: 0;
      right: -$spacing * 2;
      width: 150px;
      height: 6px;
      @media (min-width: 800px) {
        right: -$spacing;
      }
      @media (min-width: 1200px) {
        bottom: -10px;
      }
    }
     button {
       font-size: 1.2rem;
     }
  }

  & button {
    background: none;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-size: 19px;
    font-weight: 600;
    line-height: 60px;
    @media (min-width: 1100px) {
      line-height: $spacing * 3;
    }
  }
}
