@import '../../sass/colors';
@import '../../sass/typography';
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 0 8px 0;
  max-width: 1500px;
  margin: 0 auto;
  order: 2;
  @media (min-width: 500px) {
    background-color: $black;
    order: -1;
    height: auto;
  }
}
.menuIcon {
  width: 32px;
  height: 32px;
  @media (min-width: 500px) {
    display: none;
  }
}

.menuBtnName {
  display: none;
  @media (min-width: 500px) {
    display: flex;
    color: $white;
    text-transform: uppercase;
    font-family: $headers;
  }
}
.menuLogo {
  display: none;
  @media (min-width: 500px) {
    display: block;
    height: 40px;
  }
}
