@import '../sass/colors.scss';
@import '../sass/variables.scss';

.references_div {
  height: 300px;
}

.blueRectangle {
  height: 60%;
  background-color: rgba(22, 8, 121, 64);
}

.chairs {
  height: 80%;
  background-image: url('../images/graphics/chairs_mobile.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: bottom;
  position: relative;
  top: -50%;
}
