@import './sass/variables';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
  max-width: 1200px;
}

h1 {
  font-family: 'Encode Sans Expanded', sans-serif;
}

h2 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 26px;
  @media (min-width: 500px) {
    font-size: 30px;
    padding-bottom: $spacing * 2;
  }
}

p {
  line-height: 1.5rem;
}

section {
  padding: $spacing * 2 0;
  @media (min-width: 600px) {
    padding: $spacing * 3 0;
  }
  @media (min-width: 1000px) {
    padding: $spacing * 4 0;
  }
}

/* stylování Cookies lišty */

.cookieconsent-com---nb-simple {
  margin: 0 auto !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: auto !important;
  @media (min-width: 500px) {
    max-width: 100% !important;
    margin: 0 auto;
    bottom: 0 !important;
    left: 0 !important;
    top: auto !important;
  }
}
.cookieconsent-com---nb {
  font-size: 14px !important;
}
.cookieconsent-com---nb .cc-nb-main-container {
  padding: 1rem !important;

  @media (min-width: 1100px) {
    padding: 2rem !important;
  }
}
