.aboutUs_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.aboutUs_graphics {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url('../../images/graphics/bar_mobile_nochairs.png');
  @media (min-width: 500px) {
    background-image: url('../../images/graphics/tablet.png');
  }
}
.aboutUs_main {
  height: 50%;
}
