@import '../../sass/_colors.scss';

.contacts_section {
  width: 100%;
  height: 100%;

  @media (min-width: 550px) {
    padding: 50px 0;
  }
  @media (min-width: 1100px) {
    width: 100vw;
    height: 100vh;
    background-image: url('../../images/graphics/RaketaNochairs.png');
    background-position: center 60%;
    background-repeat: no-repeat;
    background-size: 110%;
  }
}

.graphics_div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url('../../images/graphics/bar_mobile_nochairs.png');
  @media (max-width: 300px) {
    height: 400px;
  }
  @media (max-width: 400px) {
    height: 480px;
  }
  @media (min-width: 400px) {
    height: 590px;
  }
  @media (min-width: 500px) {
    background-image: url('../../images/graphics/TabletNochairs.webp');
    height: 450px;
  }
  @media (min-width: 600px) {
    height: 500px;
  }
  @media (min-width: 700px) {
    height: 580px;
  }
  @media (min-width: 800px) {
    height: 650px;
  }
  @media (min-width: 950px) {
    height: 750px;
  }
  @media (min-width: 1100px) {
    background: none;
    height: 60vh;
  }
}
.contact_details {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $purple;
  padding: 12px;
  @media (min-width: 500px) {
    background-color: transparent;
    padding: 24px;
    text-align: center;
    height: auto;
    font-size: 22px;
  }

  @media (min-width: 1100px) {
    max-width: 1500px;
    width: 100%;
    height: 210px;
    align-items: center;
    margin: 0 auto;
    overflow: scroll;
  }
  & h1 {
    text-align: center;
    font-size: 24px;
    @media (min-width: 500px) {
      font-size: 36px;
    }
  }

  & span {
    margin: 8px 0;
    @media (min-width: 500px) {
      margin: 16px 0;
    }
    @media (min-width: 1100px) {
      margin: 8px 0;
    }
  }
  & a {
    text-decoration: none;
    color: $white;
    &:hover {
      color: $yellow;
    }
  }
}

.contact_email,
.contact_phone {
  margin: 12px;
  @media (min-width: 500px) {
    margin: 12px 0;
  }
}

.scroll-for-more {
  position: absolute;
  bottom: 310px;
  left: 200px;
  z-index: 20;
  .icon {
    svg {
      height: auto;
      width: 28px;
    }
  }
  .text {
    margin-top: 8px;
    color: $white;
    text-transform: uppercase;
  }
}
